In [1]:
import plotly.express as px
import matplotlib.pyplot as plt
import requests
import pandas as pd

In [6]:
import pandas as pd
census_miami = pd.read_csv('../assessment_8/data/census_data_cleaned_miami.csv')
census_tampa = pd.read_csv('../assessment_8/data/census_data_cleaned_tampa.csv')
census_orlando = pd.read_csv('../assessment_8/data/census_data_cleaned_orlando.csv')

In [9]:
census_miami
census_tampa
census_orlando

,Municipality,GEO_ID,Firm_Sale_Amount,Ethnicity,Gender,Employee_Amount,Amount_of_Firms,State
0,"Orlando-Kissimmee-Sanford, FL Metro Area",310M400US36740,"Less than $5,000",Total,Total,1386,441,Florida
1,"Orlando-Kissimmee-Sanford, FL Metro Area",310M400US36740,"$5,000-$9,999",Total,Total,819,632,Florida
2,"Orlando-Kissimmee-Sanford, FL Metro Area",310M400US36740,"$10,000-$24,999",Total,Total,1907,1787,Florida
3,"Orlando-Kissimmee-Sanford, FL Metro Area",310M400US36740,"$25,000-$49,999",Total,Total,2114,2518,Florida
4,"Orlando-Kissimmee-Sanford, FL Metro Area",310M400US36740,"$50,000-$99,999",Total,Total,6874,6048,Florida
...,...,...,...,...,...,...,...,...
58,"Orlando-Kissimmee-Sanford, FL Metro Area",310M400US36740,"$500,000-$999,999",Non-Hispanic,Total,32471,5914,Florida
59,"Orlando-Kissimmee-Sanford, FL Metro Area",310M400US36740,"$50,000-$99,999",Non-Hispanic,Total,6032,5016,Florida
60,"Orlando-Kissimmee-Sanford, FL Metro Area",310M400US36740,"$100,000-$249,999",Non-Hispanic,Total,17161,9705,Florida
61,"Orlando-Kissimmee-Sanford, FL Metro Area",310M400US36740,"$250,000-$499,999",Non-Hispanic,Total,22130,7322,Florida
62,"Orlando-Kissimmee-Sanford, FL Metro Area",310M400US36740,"$1,000,000 or more",Non-Hispanic,Total,379511,10819,Florida

In [16]:
miami_merge = pd.merge(census_miami, census_tampa, on='State')
# merged_final = pd.merge(miami_merge, census_orlando, on='State', how='inner')
miami_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3969 entries, 0 to 3968
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Municipality_x      3969 non-null   object
 1   GEO_ID_x            3969 non-null   object
 2   Firm_Sale_Amount_x  3969 non-null   object
 3   Ethnicity_x         3969 non-null   object
 4   Gender_x            3969 non-null   object
 5   Employee_Amount_x   3969 non-null   int64
 6   Amount_of_Firms_x   3969 non-null   int64
 7   State               3969 non-null   object
 8   Municipality_y      3969 non-null   object
 9   GEO_ID_y            3969 non-null   object
 10  Firm_Sale_Amount_y  3969 non-null   object
 11  Ethnicity_y         3969 non-null   object
 12  Gender_y            3969 non-null   object
 13  Employee_Amount_y   3969 non-null   int64
 14  Amount_of_Firms_y   3969 non-null   int64
dtypes: int64(4), object(11)
memory usage: 465.2+ KB